<div class="tab">
    <button class="tablinks" onclick="tabHandler(event, 'createShortLinks')" id="defaultOpen">Create Short Links</button>
    <button class="tablinks" onclick="tabHandler(event, 'shortLinksList')" id="defaultOpenRefresh">List of short links</button>
    <button class="tablinks" onclick="tabHandler(event, 'analysis')">Analysis</button>
</div>